* {
    margin: 0;
    padding: 0;
}
body {
    background-color: $contentBackground;
    font-family: $fontFamily;
}
.main-wrapper {
    max-width: 960px;
    margin: 0 auto;
}
.logo img {
    width: 100%;
  }
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 100%;
    height: 60px;
    border-top: 1px solid $formColor;
    border-bottom: 1px solid $formColor;
    margin-bottom: 40px;
    text-transform: uppercase;

    a {
    text-decoration: none;
    color: $mainThemeColor;
    }
}
header {
    display: flex;
    align-content: space-between;
    align-items: flex-end;
}

.toolbar {
    text-align: right;
    input {
        width: 160px;
        height: 24px;
        border: 1px solid $mainThemeColor;
        padding: 10px 20px;
        margin: 10px 0 15px 0;
        background-color: transparent;
    }
    input:focus {
        outline: none;
    }
}
.toolbar ::placeholder {
    color: $mainThemeColor;
    font-size: 16px;
}
.post-list {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
        article {
            flex: 0 48%;
            margin-bottom: 12px;
            padding: 6px;
            background-color: $articleBackground;
                .post-description {
                    color: $infoPublishingColor;
                    border-bottom: 1px solid $underlineColor;
                    margin-bottom: 12px;
                    font-size: 0.9em;
                    padding-top: 0;
                }
                    img {
                        width: 100%;
                    }
                        div {
                            padding: 10px;
                            
                            h3 {
                                color: $hColor;
                                text-transform: uppercase;
                            }
                            p {
                                color: $pColor;
                                line-height: 1.5em;
                                margin-bottom: .5em;
                            }
                        }
            }
}
#about {
    margin-top: 3.5em;
    h1 {
        color: $mainThemeColor;
        text-transform: uppercase;
        text-align: right;
    }
    p {
        color: $pColor;
        line-height: 1.5em;
        margin-bottom: 1em;
        text-align: justify;
    }
    img {
        max-width: 100%;
    }
} 
#contact {
    margin-top: 3.5em;
    color: $mainThemeColor;
    text-transform: uppercase;
    text-align: right;
}
#form {
    margin-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    //text-align: center;
    input.contact-form, textarea {
        
        width: 100%;
        margin-bottom: 15px;
        padding: 10px 20px;
        border: 1px solid $formColor;
        resize: none;
        font-family: $fontFamily;
            
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: $formColor;
        }
    }
    
    #contact-form-btn {
        position: relative;
        right: -780px;
        
        width: 180px;
        height: 40px;
        border: none;
        outline: none;
        background-color: $mainThemeColor;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
    
        transition-duration: 0.4s;

        &:hover {
            background-color: lighten($mainThemeColor, 15);
        }
        &:active {
            background-color: darken($mainThemeColor, 5);
        }
    }
}
footer {
    color: $pColor;
    font-size: 0.7em;
}
