$contentBackground: #efefef;
$articleBackground: #fff;
$mainThemeColor: #fc5830;
$hColor: #617d8a;
$pColor: #757575;
$infoPublishingColor: #bdbdbd;
$underlineColor: #cfd8dc;
$fontFamily: serif;
$formColor:#cfd8dc;