$contentBackground: #fff;
$articleBackground: #efefef;
$mainThemeColor: #1fbcd3;
$hColor: #1697a6;
$pColor: #617d90;
$infoPublishingColor: #159587;
$underlineColor: #617d8a;
$fontFamily: sans-serif;
$formColor:#617d8a;